<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Applicants and mentors</title>
        <link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>
    </head>
    <body>
        <h1>Applicant's name, code and the mentor's first and last name</h1>
        <table>
            <thead>
                <tr>
                    <td><strong>First name</strong></td>
                    <td><strong>Application code</strong></td>
                    <td><strong>Mentors' first name</strong></td>
                    <td><strong>Mentors' last name</strong></td>
                </tr>
            </thead>
            <tbody>
                {% if applicants_and_mentors %}
                    {% for applicant_mentor in applicants_and_mentors %}
                    <tr>
                        <td>{{ applicant_mentor['applicants_name'] }}</td>
                        <td>{{ applicant_mentor['application_code'] }}</td>
                        <td>{% if applicant_mentor['first_name'] %}
                            {{ applicant_mentor['first_name'] }}
                            {% else %}
                            No data
                            {% endif %}</td>
                        <td>{% if applicant_mentor ['last_name'] %}
                            {{ applicant_mentor['last_name'] }}
                            {% else %}
                            No data
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>