<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Applicants</title>
        <!--<link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>-->

   <!--  moved into a CSS file, see the link above
      <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }
            thead { border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif}
            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>-->
    </head>
    <body>
        <h1>Applicant's name, code and the date of the application</h1>
        <table>
            <thead>
                <tr>
                    <td><strong>First name</strong></td>
                    <td><strong>Application code</strong></td>
                    <td><strong>Creation date of application</strong></td>
                </tr>
            </thead>
            <tbody>
                {% if applicants %}
                    {% for applicant in applicants %}
                    <tr>
                        <td>{{ applicant['first_name'] }}</td>
                        <td>{{ applicant['application_code'] }}</td>
                        <td>{{ applicant['creation_date'] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>