<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Application process</title>
        <link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>
    </head>
    <body>
        <h1>Application process extended</h1>
        <ul>
            <li><a href="/mentors">Mentors</a></li>
            <li><a href="/all-school">All schools and mentors</a></li>
            <li><a href="/mentors-by-country">Number of mentors by countries</a></li>  
            <li><a href="/contacts">Schools and the contact person</a></li>            
            <li><a href="/applicants">Applicants, application code and the application's date</a></li>            
            <li><a href="/applicants-and-mentors">Applicants, application code and their mentors</a></li>            
        </ul>
   </body>
</html>
