<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AskMate</title>
        <!--<link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>-->

   <!--  moved into a CSS file, see the link above
      <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }
            thead { border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif}
            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>-->
    </head>
    <body>
        <h1>Application process extended</h1>
        <ul>
            <li><a href="/mentors">Mentors</a></li>
            <li><a href="/all-school">All schools and mentors</a></li>
            <li><a href="/mentors-by-country">Number of mentors by countries</a></li>  
            <li><a href="/contacts">Schools and the contact person</a></li>            
            <li><a href="/applicants">Applicants, application code and the application's date</a></li>            
          
        </ul>
   </body>
</html>
