<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mentors</title>
        <!--<link rel='stylesheet' type='text/css' href={{url_for('static', filename='styles.css')}}>-->

   <!--  moved into a CSS file, see the link above
      <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }
            thead { border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif}
            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>-->
    </head>
    <body>
        <h1>Mentors by countries</h1>
        <table>
            <thead>
                <tr>
                    <td><strong>Country</strong></td>
                    <td><strong>Count of the mentors</strong></td>
                </tr>
            </thead>
            <tbody>
                {% if mentors_by_countries %}
                    {% for mentor_count_country in mentors_by_countries %}
                    <tr>
                        <td>{{ mentor_count_country['country'] }}</td>
                        <td>{{ mentor_count_country['count'] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>